# Virtual environments
venv/
.env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and runtime files
*.log
*.pid
*.gz

# Unit test / coverage reports
.coverage
htmlcov/
.tox/
.pytest_cache/

# IDE/editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
